<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head th:replace="~{fragments :: head('Obrazy')}">
</head>
<body>
<div layout:fragment="header" th:replace="~{fragments :: header('search')}"></div>
<div layout:fragment="content">
    <div id="searchForms">
        <form th:method="POST" th:action="@{process.html}" th:object="${filter}">
            <input type="text" th:field="*{phrase}">
            <select name="where" th:field="*{where}">
                <option th:value="none" disabled selected th:text="#{search.form.choose_criteria}"> </option>
                <option th:value="name" th:text="#{paintings.details.name}"> </option>
                <option th:value="author" th:text="#{paintings.details.author}"> </option>
                <option th:value="technique" th:text="#{paintings.details.technique}"> </option>
            </select>
            <input type="submit" th:value="#{search.form.search_paintings}">
        </form>
        <form th:method="POST" th:action="@{process.html}" th:object="${filter}">
                <label>  <span th:text="#{paintings.details.technique}"> </span>
                    <select th:field="*{phrase}" name="technique_id">
                        <option th:each="technique: ${techniques}" th:text="${technique.name}" th:value="${technique.id}">  </option>
                    </select>
                    <input name="where" value="technique" hidden>
                </label>
                <input type="submit" th:value="#{search.form.search_paintings}">
        </form>
        <form th:method="POST" th:action="@{process.html}" th:object="${filter}">
            <input type="number" min="0" max="10000000" step="0.01" th:field="*{min}">
            <input type="number" min="0" max="10000000" step="0.01" th:field="*{max}">
            <select name="where" th:field="*{where}">
                <option th:value="none" disabled selected th:text="#{search.form.choose_criteria}"> </option>
                <option th:value="paintingValue" th:text="#{paintings.details.value}"> </option>
            </select>
            <input type="submit" th:value="#{search.form.search_paintings}">
        </form>
        <form th:method="POST" th:action="@{process.html}" th:object="${filter}">
            <input type="date" th:field="*{minDate}">
            <input type="date" th:field="*{maxDate}">
            <select name="where" th:field="*{where}">
                <option th:value="none" disabled selected th:text="#{search.form.choose_criteria}"> </option>
                <option th:value="paintedDate" th:text="#{paintings.details.painted_date}"> </option>
                <option th:value="addDate" th:text="#{paintings.details.add_date}"> </option>
            </select>
            <input type="submit" th:value="#{search.form.search_paintings}">
        </form>
        <form th:method="POST" th:action="@{process.html}" th:object="${filter}">
            <label>  <span th:text="#{paintings.details.exhibited}"> </span>
                <select th:field="*{phrase}" name="exhibited">
                    <option th:text="#{general.yes}" th:value="yes">  </option>
                    <option th:text="#{general.no}" th:value="no">  </option>
                </select>
                <input name="where" value="exhibited" hidden>
            </label>
            <input type="submit" th:value="#{search.form.search_paintings}">
        </form>
       <!-- <form th:method="POST" th:action="@{process.html}" th:object="${filter}">
            <label>  <span th:text="#{paintings.details.dimensions}"> </span>
                <input name="width">x<input name="height">
                <input name="where" value="dimensions" hidden>
            </label>
            <input type="submit" th:value="#{search.form.search_paintings}">
        </form>-->
        <form th:method="POST" th:action="@{process.html}" th:object="${filter}">
            <label>  <span th:text="#{paintings.details.technique}"> </span>
                <select th:field="*{phrase}" name="genreId">
                    <option th:each="genre: ${genres}" th:text="${genre.name}" th:value="${genre.genreId}">  </option>
                </select>
            </label>
            <input name="where" value="genre" hidden>
            <input type="submit" th:value="#{search.form.search_paintings}">
        </form>
        <form th:method="POST" th:action="@{process.html}" th:object="${filter}">
            <label>  <span th:text="#{paintings.details.museum.name}"> </span>
                <select th:field="*{phrase}" name="museumId">
                    <option th:each="museum: ${museums}" th:text="${museum.name}" th:value="${museum.museumId}">  </option>
                </select>
            </label>
            <input name="where" value="museum" hidden>
            <input type="submit" th:value="#{search.form.search_paintings}">
        </form>
        <form th:method="POST" th:action="@{process.html}" th:object="${filter}">
            <label>  <span th:text="#{paintings.details.museum.place}"> </span>
                <select th:field="*{phrase}" name="museumId">
                    <option th:each="museum: ${museums}" th:text="${museum.place}" th:value="${museum.museumId}">  </option>
                </select>
            </label>
            <input name="where" value="museum" hidden>
            <input type="submit" th:value="#{search.form.search_paintings}">
        </form>
    </div>
</div>
</body>
</html>