<!DOCTYPE html>
<html lang="pl"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template.html}">
<head th:replace="~{fragments :: head('Sczegóły obrazu')}">
<body>
	<div layout:fragment="header" th:replace="~{fragments :: header('paintings')}"></div>
	<div layout:fragment="content">
		<table th:object="${painting}">
			<tr> <td th:text="#{paintings.details.name}"> </td> <td th:text="*{name}"> </td> </tr>
			<tr> <td th:text="#{paintings.details.author}">  </td> <td th:text="*{author}"> </td> </tr>
			<tr> <td th:text="#{paintings.details.add_date}">  </td> <td th:text="${#temporals.format(painting.addDate, 'dd-MM-yyyy HH:mm')}"> </td> </tr>
			<tr> <td th:text="#{paintings.details.painted_date}">  </td> <td th:text="${#temporals.format(painting.paintedDate, 'dd-MM-yyyy HH:mm')}"> </td> </tr>
			<tr> <td th:text="#{paintings.details.value}">  </td> <td th:text="*{value}"> </td> </tr>
			<tr> <td th:text="#{paintings.details.exhibited}">  </td> <td th:if="${painting.isExhibited} == false"> nie</td> <td th:if="${painting.isExhibited} == true"> tak</td> </tr>
			<tr> <td th:text="#{paintings.details.technique}">  </td> <td th:text="*{technique.name}"> </td> </tr>
<!--			<tr> <td th:text="#{paintings.details.dimensions}">  </td> <td th:text="*{technique.name}"> </td> </tr>-->
			<tr> <td th:text="#{paintings.details.genre}">  </td> <td> <div th:each="genre : *{genres}"> <span th:text="${genre.name}"></span> </div> </td> </tr>
			<tr> <td th:text="#{paintings.details.image}">  </td> <td> <img th:src="${filepath}"> </td> </tr>
			<tr> <td> </td> <td> <a th:href="@{form.html(edit=true,paintingId=${painting.paintingId})}" th:text="#{general.edit}"> </a> </td> </tr>
			<tr> <td> </td> <td> <a th:href="@{delete.html(paintingId=${painting.paintingId})}" th:text="#{general.delete}"> </a> </td> </tr>
		</table>
		<tr> <td> </td> <td> <a th:href="@{list.html}" th:text="#{general.return}"> </a> </td> </tr>
	</div>
</body>
</html>