<!DOCTYPE html>
<html lang="pl"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template.html}">
<head th:replace="~{fragments :: head('Formularz obrazu')}">
<body>
	<div layout:fragment="header" th:replace="~{fragments :: header('painting')}"></div>
	<div layout:fragment="content">
		<form id="paintingForm" th:action="form.html" th:method="POST" th:object="${painting}" enctype="multipart/form-data"> <br>
			<input type="text" th:field="*{paintingId}" hidden/>

			<label> <span th:text="#{paintings.details.name}"> </span>
				<input class="form-control" type="text" th:field="*{name}"/>
				<span th:if="${#fields.hasErrors('name')}" th:each="err: ${#fields.errors('name')}" th:text="${err}"></span>
			</label> <br>

			<label> <span th:text="#{paintings.details.author}"> </span>
				<input class="form-control" type="text" th:field="*{author}"/>
				<span th:if="${#fields.hasErrors('author')}" th:each="err: ${#fields.errors('author')}" th:text="${err}"></span>
			</label> <br>

			<!--<label>  <span th:text="#{paintings.details.add_date}"> </span>
				<input class="form-control" type="text" th:field="*{addDate}"/>
				<span th:if="${#fields.hasErrors('addDate')}" th:each="err: ${#fields.errors('addDate')}" th:text="${err}"></span>
			</label> <br>-->

			<label>	 <span th:text="#{paintings.details.painted_date}"> </span>
				<input class="form-control" type="text" th:field="*{paintedDate}"/>
				<span th:if="${#fields.hasErrors('paintedDate')}" th:each="err: ${#fields.errors('paintedDate')}" th:text="${err}"></span>
			</label> <br>

			<label>	 <span th:text="#{paintings.details.value}"> </span>
				<input class="form-control" type="text" th:field="*{value}"/>
				<span th:if="${#fields.hasErrors('value')}" th:each="err: ${#fields.errors('value')}" th:text="${err}"> </span>
			</label> <br>

			<label>	 <span th:text="#{paintings.details.exhibited}"> </span>
				<input class="form-control" type="checkbox" th:field="*{exhibited}"/>
			</label> <br>

			<label>  <span th:text="#{paintings.details.technique}"> </span>
				<select class="form-control btn-light" name="technique">
					<option th:each="technique: ${techniques}" th:text="${technique.name}" th:value="${technique.id}">  </option>
				</select>
			</label> <br>

			<label>  <span th:text="#{paintings.details.dimensions}"> </span>
				<input class="form-control" type="text" th:field="*{dimensions}" placeholder="5x5"/>
			</label> <br>

			<label> <span th:text="#{paintings.details.genre}"> </span></label>
			<div id="genres">
				<th:block th:each="genre: ${genres}">
					<input class="form-control" type="checkbox" th:field="*{genres}" th:value="${genre.genreId}" th:id="${genre}"> <span th:text="${genre.name}"></span>
				</th:block>
			</div>
			
			<label>  <span th:text="#{paintings.details.museum}"> </span>
				<select class="form-control btn-light" name="museum">
					<option th:each="museum: ${museums}" th:text="|${museum.name}, ${museum.place}|" th:value="${museum.museumId}">  </option>
				</select>
			</label> <br>
			
			<label> <span th:text="#{paintings.details.exemplars}"> </span>
				<input class="form-control" type="number" min=0 th:field="*{exemplars}"/>
			</label> <br>
			
			<img th:src="${filepath}">
			<input class="form-control" type="file" th:name="multipartFile" accept=".gif, .png, .jpg, .jpeg, .bmp">
			<input class="form-control btn-secondary" type="submit" value="Wyślij">
			<input th:name="edit" th:value="${edit}" hidden>
		</form>
	</div>
</body>
</html>