<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>[[${title}]]</title>
    <!--	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script>
        $(document).ready(function (){
            $("#languages").change(function (){
                let language = $("#languages").val();
                console.log(language);
                if (language != "")
                    window.location.replace("?lang="+language);
            });
            $(".delete").click(function()
            {
                const id = String($(this).data("id"));
                $("#yes").click(function () {
                    location.href = "/paintings/delete.html?paintingId="+id;
                })
            });
        });
    </script>
</head>
<body>
<div layout:fragment="header" th:replace="~{fragments :: header('paintings')}"></div>
<div layout:fragment="content">
    <a th:href="@{form.html(edit=false)}" sec:authorize="hasRole('ADMIN')" th:text="#{general.add}"> </a>
    <div th:if="${paintings.size} == 0">
        <p th:text="#{paintings.list.empty}"> </p>
    </div>
    <div th:if="${paintings.size} > 0">
        <table th:each="painting : ${paintings}">
            <tr> <td> <img th:src="${path}+'/'+${painting.paintingId}+'/image.jpg'"></td> <td> <a th:href="@{details.html(paintingId=${painting.paintingId})}"> <span th:text="${painting.author +' '+ painting.name}"></span> </a> </td> </tr>
            <tr sec:authorize="hasRole('ADMIN')"> <td> </td> <td> <a th:href="@{form.html(edit=true,paintingId=${painting.paintingId})}" th:text="#{general.edit}"> </a> </td> </tr>
            <tr sec:authorize="hasRole('ADMIN')"> <td> </td> <td>
                <button class="delete btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal" th:data-id="${painting.paintingId}"
                        th:text="#{general.delete}">
                </button> </td> </tr>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{general.confirm}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"
                         th:text="#{paintings.delete.are_you_sure}">
                    </div>
                    <div class="modal-footer">
                        <a id="yes" class="btn btn-light" th:text="#{general.yes}"> </a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{general.no}"> </button>
                    </div>
                </div>
            </div>
        </div>
        <a th:href="@{form.html(edit=false)}" sec:authorize="hasRole('ADMIN')" th:text="#{general.add}"> </a>
    </div>
</div>
<div layout:fragment="footer" th:replace="~{fragments :: footer}"></div>
</body>
</html>