a
{
	text-decoration: none;
}

body
{
	//background-image: url("../images/background.jpg");
	background-size: cover;
}

.content
{
	background-color: rgba(255,255,255,0.9);
	padding: 15px 35px;
}

#menu
{
	content: none;
	list-style: none;
}

#menu li
{
	float:left;
	display: block;
	width: 100px;
	text-align: center;
}

#menu:after
{
	/*clear:both;*/
}

td
{
	border-collapse: collapse;
	border: 2px solid black;
	padding: 5px;
}

.activeMenuItem
{
	font-weight: 500;
}