<!DOCTYPE html>
<html lang="pl"
    xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Błąd!')}">
<body>
    <table>
        <!--frytki, kurczak, schabowy, pizza, kluski -->
        <tr>
            <td> Data </td>
            <td th:text="${timestamp}"> </td>
        </tr>
        <tr>
            <td> Scieżka </td>
            <td th:text="${path}"> </td>
        </tr>
        <tr>
            <td> Błąd </td>
            <td th:text="${error}"> </td>
        </tr>
        <tr>
            <td> Kod błędu </td>
            <td th:text="${status}"> </td>
        </tr>
        <tr>
            <td> Wiadomość </td>
            <td th:text="${message}"> </td>
        </tr>
        <tr>
            <td> Wyjątek </td>
            <td th:text="${exception}"> </td>
        </tr>
        <tr>
            <td> Stos wywołań </td>
            <pre> <td th:text="${trace}"> </td> </pre>
        </tr>
    </table>
</body>
</html>