<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head th:replace="~{fragments :: head('Wirtualne muzeum')}">
<body>
<div layout:fragment="header" th:replace="~{fragments :: header('index')}"></div>
<div style="clear:both"></div>
<div layout:fragment="content">
    <p th:text="#{index.welcome}"></p>
    <img id="welcomeImage" src="http://localhost:8080/virtual_museum/images/welcome.jpg">
</div>
<div layout:fragment="footer" th:replace="~{fragments :: footer}"></div>
</body>
</html>