<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head th:replace="~{fragments :: head('Obrazy')}">
</head>
<body>
<script>
    $(document).ready(function ()
    {
        alert("kk");
        $("#delete").click(function()
        {
            console.log($(this).data("id"));
            $("#yes").href = "delete.html?paintingId="
        })
    })

</script>
<div layout:fragment="header" th:replace="~{fragments :: header('paintings')}"></div>
<div layout:fragment="content">
    <div th:if="${paintings.size} == 0">
        <p> Brak wpisów</p>
    </div>
    <div th:if="${paintings.size} > 0">
        <table th:each="painting : ${paintings}">
            <tr> <td> <img th:src="${path}+'/'+${painting.paintingId}+'/image.jpg'"></td> <td> <a th:href="@{paintingDetails.html(paintingId=${painting.paintingId})}"> <span th:text="${painting.author +' '+ painting.name}"></span> </a> </td> </tr>
            <tr sec:authorize="hasRole('ADMIN')"> <td> </td> <td> <a th:href="@{paintingForm.html(edit=true,paintingId=${painting.paintingId})}"> Edytuj </a> </td> </tr>
            <tr sec:authorize="hasRole('ADMIN')"> <td> </td> <td>
                <button id="delete" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:data-id="${painting.paintingId}">
                    Launch demo modal
                </button> </td> </tr>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a id="yes" class="btn btn-light"> Przejdź do listy </a>
                    </div>
                </div>
            </div>
        </div>
        <a th:href="@{paintingForm.html(edit=false)}" sec:authorize="hasRole('ADMIN')"> Dodaj </a>
    </div>
</div>
<div layout:fragment="footer" th:replace="~{fragments :: footer}"></div>
</body>
</html>