<!DOCTYPE html>
<html lang="pl"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{template.html}">
<head th:replace="~{fragments :: head('Sczegóły obrazu')}">
<body>
	<div layout:fragment="header" th:replace="~{fragments :: header('paintings')}"></div>
	<div layout:fragment="content">

		<a th:href="@{paintingForm.html(edit=false)}"> Dodaj </a>
		<table th:object="${painting}">
			<tr> <td> Nazwa</td> <td th:text="*{name}"> </td> </tr>
			<tr> <td> Autor</td> <td th:text="*{author}"> </td> </tr>
			<tr> <td> Data dodania </td> <td th:text="${#temporals.format(painting.addDate, 'dd-MM-yyyy HH:mm')}"> </td> </tr>
			<tr> <td> Data namalowania </td> <td th:text="${#temporals.format(painting.paintedDate, 'dd-MM-yyyy HH:mm')}"> </td> </tr>
			<tr> <td> Wartość </td> <td th:text="*{value}"> </td> </tr>
			<tr> <td> Wystawiony </td> <td th:if="${painting.isExhibited} == false"> nie</td> <td th:if="${painting.isExhibited} == true"> tak</td> </tr>
			<tr> <td> Technika </td> <td th:text="*{technique.name}"> </td> </tr>
			<tr> <td> Rodzaj </td> <td> <div th:each="genre : *{genres}"> <span th:text="${genre.name}"></span> </div> </td> </tr>
			<tr> <td> Obraz </td> <td> <img th:src="${filepath}"> </td> </tr>
			<tr> <td> </td> <td> <a th:href="@{paintingForm.html(edit=true,paintingId=${painting.paintingId})}"> Edytuj </a> </td> </tr>
			<tr> <td> </td> <td> <a th:href="@{delete.html(paintingId=${painting.paintingId})}"> Usuń </a> </td> </tr>
		</table>
		<tr> <td> </td> <td> <a th:href="@{paintings.html}"> Wróć </a> </td> </tr>
	</div>
</body>
</html>