<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head th:replace="~{fragments :: head('Obrazy')}">
</head>
<body>
<div layout:fragment="header" th:replace="~{fragments :: header('paintings')}"></div>
<div layout:fragment="content">
   <!-- <form th:method="POST" th:action="processSearch.html" th:object="${filter}">
        <input type="text" th:field="*{phrase}">
        <input type="submit">
    </form>-->
    <div th:if="${paintings.size} == 0">
        <p> Brak wpisów</p>
    </div>
    <div th:if="${paintings.size} > 0">
        <table th:each="painting : ${paintings}">
            <tr> <td> </td> <td> <a th:href="@{paintingDetails.html(paintingId=${painting.id})}"> <span th:text="${painting.author +' '+ painting.name}"></span> </a> </td> </tr>
            <tr> <td> </td> <td> <a th:href="@{paintingForm.html(edit=true,paintingId=${painting.id})}"> Edytuj </a> </td> </tr>
            <tr> <td> </td> <td> <a th:href="@{delete.html(paintingId=${painting.id})}"> Usuń </a> </td> </tr>
        </table>
        <a th:href="@{paintingForm.html(edit=false)}"> Dodaj </a>
    </div>
</div>
</body>
</html>