<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head th:replace="~{fragments :: head('Obrazy')}">
</head>
<body>
<div layout:fragment="header" th:replace="~{fragments :: header('search')}"></div>
<div layout:fragment="content">
    <form th:method="POST" th:action="processSearch.html" th:object="${filter}">
        <input type="text" th:field="*{phrase}">
        <select name="where" th:field="*{where}">
            <option th:value="none" disabled selected> Wybierz kryterium </option>
            <option th:value="name"> Nazwa </option>
            <option th:value="author"> Autor </option>
            <option th:value="technique"> Technika </option>
        </select>
        <input type="submit" value="Szukaj">
    </form>
    <form th:method="POST" th:action="processSearch.html" th:object="${filter}">
        <input type="range" min="0" max="10000000" th:field="*{min}">
        <input type="range" min="0" max="10000000" th:field="*{max}">
        <select name="where" th:field="*{where}">
            <option th:value="none" disabled selected> Wybierz kryterium </option>
            <option th:value="paintingValue"> Wartość </option>
        </select>
        <input type="submit" value="Szukaj">
    </form>
    <form th:method="POST" th:action="processSearch.html" th:object="${filter}">
        <input type="date" th:field="*{minDate}">
        <input type="date" th:field="*{maxDate}">
        <select name="where" th:field="*{where}">
            <option th:value="none" disabled selected> Wybierz kryterium </option>
            <option th:value="paintedDate"> Data namalowania </option>
            <option th:value="addDate"> Data dodania </option>
        </select>
        <input type="submit" value="Szukaj">
    </form>
</div>
</body>
</html>